// Place all the styles related to the Customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
* {
  text-align: center;
  padding-bottom: 10px;
}
html,
body {
  margin: 0px;
  height: 100%;
}
.container {
  background-image: image_url('brick-wall.jpg');
  width: 100%;
  height: 100%;
  position: relative;

}
.form-container {
  background-color: white;
  height: 600px;
  width: 500px;
  border-radius: 10px;
  position: absolute;
      top: 50%;
      left: 50%;
      margin-right: -50%;
      transform: translate(-50%, -50%);
}
.title {
  font-size: 50px;
  padding-top: 130px;
}
.submit-button {
  padding-top: 10px;
}